pipeline/Databricks job orchestration.json
{
	"name": "Databricks job orchestration",
	"properties": {
		"activities": [
			{
				"name": "Execute Jobs API",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().parameters.DatabricksWorkspaceID,'.databricks.azure.cn/api/2.0/jobs/run-now')",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"job_id": "@pipeline().parameters.JobID",
						"notebook_params": {
							"name": "@pipeline().parameters.name",
							"age": "@pipeline().parameters.age"
						}
					},
					"authentication": {
						"type": "Basic",
						"username": "yaoyudeng@mcpod.partner.onmschina.cn",
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			{
				"name": "Wait until job completes",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Execute Jobs API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(variables('JobStatus'),'Running'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check Job Run API",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://',pipeline().parameters.DatabricksWorkspaceID,'.databricks.azure.cn/api/2.1/jobs/runs/get?run_id=',activity('Execute Jobs API').output.run_id)",
									"type": "Expression"
								},
								"method": "GET",
								"authentication": {
									"type": "Basic",
									"username": "yaoyudeng@mcpod.partner.onmschina.cn",
									"password": {
										"type": "SecureString",
										"value": "**********"
									}
								}
							}
						},
						{
							"name": "Set Job Run Status",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Check Job Run API",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "JobStatus",
								"value": {
									"value": "@if(\nor(\nequals(activity('Check Job Run API').output.state.life_cycle_state, 'PENDING'), equals(activity('Check Job Run API').output.state.life_cycle_state, 'RUNNING')\n),\n'Running',\nactivity('Check Job Run API').output.state.result_state\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait to Recheck API",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Set Job Run Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@pipeline().parameters.WaitSeconds",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"JobID": {
				"type": "string",
				"defaultValue": "465900910782544"
			},
			"DatabricksWorkspaceID": {
				"type": "string",
				"defaultValue": "adb-6893141284983028.0"
			},
			"WaitSeconds": {
				"type": "int",
				"defaultValue": 30
			},
			"name": {
				"type": "string",
				"defaultValue": "Jacky"
			},
			"age": {
				"type": "string",
				"defaultValue": "60"
			}
		},
		"variables": {
			"JobStatus": {
				"type": "String",
				"defaultValue": "Running"
			}
		},
		"folder": {
			"name": "Databricks"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-18T05:24:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}